.table{
  display: flex;
  width: 1100px;
  margin: 60px auto 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.table .table__cell:nth-child(-n+4){
  margin-bottom: 60px;
}

.table .table__cell_theme_dark:nth-child(-n+5){
  margin-bottom: 80px;
}

  